extends ../layout.jade

block title
	| Datasetify your PDFs

block help
	include:markdown ../../help/datasetifier.md

block end-of-head
	style.
		.progress-bar,
		.progress-bar a {
			color:white !important;
			font-size: 1em;
			font-weight-bold;
		}
	script
		include:coffee-script ../../src-client/datasetifier.coffee

block content
	.row
		.col-md-10.col-md-offset-1
			form.form-horizontal(role="form")
				.form-group
					label.control-label.col-sm-3(for="file") Choose PDF files
					.col-sm-4
						input.form-control#file(type="file",multiple=true)
				.form-group
					label.control-label.col-sm-3(for="upload-tags") Assign tags
					.col-sm-4
						input.form-control#upload-tags(type="text",placeholder="Tag")
				.form-group
					label.control-label.col-sm-3(for="pattern-tags") Use Pattern Set
					.col-sm-4
						select.form-control#pattern-tags
							option ssoar-dgs_empirisch-quantitativ_de-learn_dgs_empirisch-quantitativ_de-2016-07-15T13-33-26
				.form-group
					.col-sm-3.col-sm-offset-3
						input.form-control.btn.btn-success#start-demo(type="button",value="Analyze")
	.row.toggleable
		.col-md-3 Upload Progress
		.col-md-8#upload-progress
	.row.toggleable
		.col-md-3 Text Extraction Progress
		.col-md-8#text-extractor-progress
	.row.toggleable
		.col-md-3 Extracted texts
		.col-md-8
			ul#text-output-uri
	.row.toggleable
		.col-md-3 #[a(href='https://github.com/infolis/infolis-web/wiki/API-calls-to-algorithms#applypatternandresolve') APAR] Execution
		.col-md-8#apar-uri
	.row.toggleable
		.col-md-3 #[a(href='https://github.com/infolis/infolis-web/wiki/API-calls-to-algorithms#applypatternandresolve') APAR] Progress
		.col-md-8#apar-progress
	.row.toggleable
		.col-md-3 Generated Publication-Dataset Links
		.col-md-8
			ul#links

