extends ../layout.jade

block title
	| Datasetify your PDFs

block help
	include:markdown ../../help/datasetifier.md

block end-of-head
	style.
		.progress-bar,
		.progress-bar a {
			color:white !important;
			font-size: 1em;
			font-weight-bold;
		}
	script
		include:coffee-script ../../src-client/datasetifier.coffee

block content
	.row
		.col-md-10.col-md-offset-1
			form.form-horizontal(role="form")
				.form-group
					label.control-label.col-sm-3(for="file") Choose some PDF files
					.col-sm-4
						input.form-control#file(type="file",multiple=true)
				.form-group
					label.control-label.col-sm-3(for="upload-tags") Tag these files
					.col-sm-4
						input.form-control#upload-tags(type="text",placeholder="Tag")
				.form-group
					.col-sm-3.col-sm-offset-3
						input.form-control.btn.btn-success#start-demo(type="button",value="Analyze")
	.row.toggleable
		.col-md-3 Upload Progress
		.col-md-9#upload-progress
	.row.toggleable
		.col-md-3 Text Extraction Progress
		.col-md-9#text-extractor-progress
	.row.toggleable
		.col-md-3 Extracted texts
		.col-md-9
			ul#text-output-uri
	.row.toggleable
		.col-md-3 ApplyPatternAndResolve Execution
		.col-md-9#apar-uri
	.row.toggleable
		.col-md-3 ApplyPatternAndResolve Progress
		.col-md-9#apar-progress
	.row.toggleable
		.col-md-3 Generated Publication-Dataset Links
		.col-md-9
			ul#links

