extends ./layout.jade

block title
	| Datasetify your PDFs

block help
	p This demo allows you to upload PDF and extract and resolve datasets

block libs
	style.
		.progress-bar,
		.progress-bar a {
			color:white !important;
			font-size: 1em;
			font-weight-bold;
		}
	script(src="/demo1.js")

block content
	.row
		.col-md-10.col-md-offset-1
			h1 Upload a PDF, Get Datasets
	.row
		.col-md-4.col-md-offset-2
			form.form
				.form-group
					input.form-control#file(type="file",multiple=true)
				.form-group
					input.form-control#upload-tags(type="text",placeholder="Tag")
				.form-group
					input.form-control.btn.btn-success#start-demo(type="button",value="Analyze")
	.row.toggleable
		.col-md-2 Text Progress
		.col-md-8#upload-progress
	.row.toggleable
		.col-md-2 Text Extraction
		.col-md-8#text-extractor-progress
	.row.toggleable
		.col-md-2 Text Files
		.col-md-8
			ul#text-output-uri
	.row.toggleable
		.col-md-2 Apply Pattern And Resolve
		.col-md-8#apar-progress

