extends ./layout.jade

block title
	| Application error

block help
	p Like a balloon and something bad happens

block content
	h1 Application error
	pre.bg-danger= err.message
	h2 Path
		pre= err.path
	h2 Stacktrace
		pre= err.stack
