header.site-header
  .branding
    a(href='/')
      img.avatar(src='http://letschm.github.io/img/logo.png', alt='')
    h1.site-title
      a(href='/') InFoLiS
  nav.site-nav
    ul
      li
        a.page-link(href='/API/')
          | InFoLiS API Explorer
      li
        a.page-link(href='/about-de/')
          | Über InFoLiS II (de)
      li
        a.page-link(href='/about-en/')
          | About InFoLiS (en)
      li
        a.page-link(href='/LD/')
          | Linked Data Fragments
      li
        a.page-link(href='/publications/')
          | Publications
      li
        a.page-link(href='/Schema/')
          | Infolink Schema
      // Social icons from Font Awesome, if enabled
      li
        a(href='https://github.com/infolis/infolis.github.io', title='Follow on GitHub')
          i.fa.fa-fw.fa-github
      li
        a(href='https://twitter.com/infolis_project', title='Follow on Twitter')
          i.fa.fa-fw.fa-twitter
