nav.navbar.navbar-inverse.navbar-static-top
	.container
		.navbar-header
			a.navbar-brand(style="padding-top: 5px;")
				img(src='http://letschm.github.io/img/logo.png', alt='', style="height:2em;display:inline")
			a.navbar-brand
				| InFoLiS
		#navbar.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					a(href='/infolink/api') API
				li
					a(href='/infolink/schema') Schema
			ul.nav.navbar-nav
				li
					a.dropdown-toggle(data-toggle='dropdown',role="button",aria-expanded="false",aria-haspopup="true")
						| Learn
						span.caret
					ul.dropdown-menu
						li
							a quux
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown',role="button",aria-expanded="false",aria-haspopup="true")
						| Explore
						span.caret
					ul.dropdown-menu
						li
							a quux
			ul.nav.navbar-nav.navbar-right
				li
					a(href='https://github.com/infolis/infolis.github.io', title='Follow on GitHub')
						i.fa.fa-fw.fa-github
				li
					a(href='https://twitter.com/infolis_project', title='Follow on Twitter')
						i.fa.fa-fw.fa-twitter
