| // ==UserScript==
| // @name        Infolis Greasemonkey
| // @namespace   http://infolis.gesis.org
| // @description Upload PDF to Infolis
| // @require     http://infolis.gesis.org/client.js
| // @include     *
| // @updateURL   http://infolis.gesis.org/play/infolis.user.js
| // @version     1.#{new Date().getTime()}
| // @grant       GM_xmlhttpRequest
| // @grant       GM_getValue
| // @grant       GM_setValue
| // @grant       GM_log
| // ==/UserScript==
