| // ==UserScript==
| // @name        Infolis Greasemonkey
| // @namespace   http://#{CONFIG.baseURI}
| // @description Upload PDF to Infolis
| // @require     http://#{CONFIG.baseURI}/client.js
| // @include     *
| // @updateURL   http://#{CONFIG.baseURI}/play/infolis.user.js
| // @version     1.#{new Date().getTime()}
| // @grant       GM_xmlhttpRequest
| // @grant       GM_getValue
| // @grant       GM_setValue
| // @grant       GM_log
| // ==/UserScript==
