//- layout.jade
doctype html
html
	head
		title
			block title
				title Default title

		link(rel="icon",type="image/png",href="#{site_github}/img/logo-circle.png")

		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://getbootstrap.com/assets/css/docs.min.css")

		script(src="#{site_api}/client.js")
		script.
			infolinkClient = new InfolinkClient({
				"debug": true
			})

		block css

		link(rel="stylesheet", href="#{site_github}/css/style.css")

	body
		include ./header.jade
		div.container-fluid
			.row.help
				.col-md-offset-1.col-md-10
					.bs-callout.bs-callout-info.hidden
						h4
							block title
						block help
			block content
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="#{site_api}/vendor/notie.js/notie.js")
		block libs
