extends ./layout.jade

include ./mixin/execution.jade

block title
	| Monitor backend

block help
	include:markdown ../help/monitor.md

block content
	- status2bootstrap = {"FINISHED": "success", "FAILED": 'danger', "PENDING": "warning", "STARTED": "info"}
	- level2bootstrap = {"INFO": "success", "FATAL": 'danger'}
	script
		:coffee-script
			$ ->
				$("#executions-ALL-tab").tab('show')
	.row
		.col-md-10.executions
			h1 Executions
			ul.nav.nav-tabs
				+ executionTab("ALL", allExecutions.length)
				each status in statuses
					+ executionTab(status, byStatus[status].length)
			.tab-content
				+ executionPane("ALL", allExecutions)
				each status in statuses
					+ executionPane(status, byStatus[status])
