extends ./layout.jade

include ./mixin/execution.jade

block title
	| Monitor Execution #{execution}

block help
	include:markdown ../help/monitor.md

block content
	.row
		.col-md-10
			h1 Execution #{execution._id}
	.row
		.col-md-12
			+ executionTable(execution)

