extends ./layout.jade
block title
	| Datastore stats

block help
	include:markdown ../help/stats.md

block content
	.row
		.col-md-5
			h1 Simple Search
			form.form-horizontal(role="form")
				.form-group
				.form-group
					label.control-label.col-sm-3(for="input-id") Input ID
					.col-sm-4
						input.form-control#input-id(type="text",placeholder="10.1234.567/8")
				.form-group
					.col-sm-3.col-sm-offset-3
						input.form-control.btn.btn-success#start-demo(type="button",value="Analyze")

