extends ./layout.jade
block title
	title Datastore stats
block content
	.row
		.col-md-5
			h1 Datastore statistics
			table.table
				tr
					th Class
					th Count
					th JSON
				each stat,cls in stats
					tr
						td
							a(href="/infolink/schema/#{cls}")= cls
						td
							a(href="/infolink/api/execution/")= stat.count
						td= JSON.stringify(stat)
