extends ./layout.jade
block title
	| Datastore stats

block help
	p Statistics Schmatistics

block content
	.row
		.col-md-5
			h1 Datastore statistics
			table.table
				tr
					th Class
					th Count
					th Indexed Fields
					th JSON
				each stat,cls in stats
					tr
						td
							a(href="/schema/#{cls}")= cls
						td
							a(href="/api/#{cls[0].toLowerCase() + cls.substring(1)}")= stat.count
						td
							ul
								each field in stat.indexedFields
									li
										a(href="/schema/#{field}")= field
						td(style="font-family:monospace; font-size:x-small")
							= JSON.stringify(stat,null,2)
