extends ./layout.jade

block title
	| InFoLiS Schemo

block help
	:markdown
		This is the data from which all our schema/ontology-based services are derived.
		
		Check out the [Data Model Explorer](/work/data-model) for a more accessible presentation.

mixin textContent(line)
	- name = line
	- name = name.replace(/&nbsp;/g, '')
	- name = name.replace(/<.>/g, '')
	- name = name.replace(/<\/.>/g, '')
	- name = name.replace(/<font [^>]+>/g, '')
	- name = name.replace(/<\/font>/g, '')
	if name.indexOf('#') == 0
		- name = ''
	a(id=name)
		!= line + "\n"

block content
	script
		:coffee-script
			$ ->
				# if window.location.hash is '#Execution'
	.row
		.col-md-5
			h1 TSON
	.row
		.col-md-12
			for line in tson.split('\n')
				if line.indexOf('<font ') == 0 || line.indexOf('<font ') == 24
					+ textContent(line)
				else
					!= line + "\n"
