a.btn.btn-lg.btn-danger#help-button(role="button",data-toggle="collapse",data-target="#help")
	span.glyphicon.glyphicon-question-sign
div.container-fluid
	.row.collapse#help
		.col-md-12
			.bs-callout.bs-callout-info
				block help
